.noMods{
	width   : 100px;
    background  : #0d3b59;
    cursor  : pointer;
    font-family : "Monospace", Lucida Console, serif;
   	font-size: 20px;
    color: #549dab;
    border : none;
    margin : 0px;
	padding: 0px;
}


button{
	border: 0; 
	background: transparent;
}

.noMod{
	width   : 400px;
    background  : #0d3b59;
    cursor  : pointer;
    font-family : "Monospace", Lucida Console, serif;
   	font-size: 20px;
    color: #549dab;
    border : none;
    margin : 0px;
	padding: 0px;
}
.buttonColor{
	color: #549dab;
	padding: o;
	margin: 0;
}

h3{
	padding: 0;
	margin: 0;
}

.noModBrowse{
	width   : 200px;
    background  : #b3d0cb;
    cursor  : pointer;
    font-family : "Monospace", Lucida Console, serif;
   	font-size: 20px;
    color: #549dab;
    border : none;
    margin : 0px;
	padding: 0px;
}

.goRightBrowse{
	float: right;
	background: #b3d0cb;
	padding: 5px;
	border: none;
	color: #0d3b59;
	font-family: "Monospace", Lucida Console, serif;
}