.moveToCenter {
	padding: 5% 25% 0 25%;	
}

.costomTable{
	 border: 1px solid black;
	 background-color: #4180a3;
}

h3{
	padding: 0 0 0 10px;
	margin:  5px 0 0 50px;
}
h4{
	padding: 0 0 0 10px;
	margin: 5px 0 0 50px;
}

li img{
	max-height: 50px;
    max-width: 50px;
    background-color: powderblue;
    margin: 0 0 50px 100px;
   	float: left;
}
.color{
	color: #0d3b59;
	padding: 3px;
}

.background{
	background-color: #99c0b9;
}

.size{
 	max-width:100px;
	max-height: 100px;
}